<div class="">
  {{#each this}}
  <section class="searchHandleInterPostContainer">
    <div class="searchHandlePostPad">
      <img class="searchHandleUserImg" src="{{user.user_img_url}}">
      <span>{{comment_text}}</span>
    </div>
    <div class="row searchHandleAlignTextRight searchHandleStayBetween">
      <p class="searchHandleLabelMotto searchHandleAlignTextRight">by {{user.username}} on {{format_date created_at}}</p>
    </div>
  </section>
  {{/each}}
</div>
