
<div class="searchHandleInterPostContainer">
<article class="searchHandlePostPad">
  <img class="searchHandleUserImg"src="{{user_img_url}}">
  <span>{{username}}</span>
  <div class="row row-cols-auto justify-content-md-start align-baseline">

      <p class="searchHandleLabelMotto">Motto:</p>
    <a> {{motto}}</a>

  </div>

