<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="../css-boilerplates/landingpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link href="http://fonts.cdnfonts.com/css/fugaz-one" rel="stylesheet"></link>
  <link rel="stylesheet" href="/stylesheets/landingpage.css">
  <link rel="stylesheet" href="/stylesheets/navStyle.css">
</head>


{{#if loggedIn}}
  <body>
    <header class="row navContainer">
      <div class="col-1">
        <a href="/dashboard">
          <button class="navButtons imgButton" style="background-image: url(https://res.cloudinary.com/myadventureteam/image/upload/v1632164336/ryjaor3ui85sf5f6s0fx.jpg);"></button>
        </a>
      </div>
      <div class="col-8 row search-Container">
          <input class="search-input col-10" type="text" placeholder="Search..." name="">
          <div class="dropdown col-2">
              <button class="dropbtn">CATEGORIES</button>
              <div class="dropdown-content">
                <a href="#">Users</a>
                <a href="#">Posts</a>
              </div>
          </div>
      </div>
      <nav class="col-2 row navContainer">
          <div class="col">
          <button type="submit" class="navButtons" ><i class="fas fa-search"></i></button></div>
          <div class="col">
            <a href="/dashboard">
              <button type="submit" class="navButtons imgButton" style="background-image: url(https://res.cloudinary.com/myadventureteam/image/upload/v1632164336/ryjaor3ui85sf5f6s0fx.jpg);"></button></div>
            </a>
          <div class="col">
          <button id="logout" class="navButtons"><i class="fas fa-cog"></i></button></div>
      </nav>    
    </header>
    <main>
    {{{ body }}}
    </main>
  <script src="/javascript/logout.js"></script>
</body>

{{else}}
<body>
    <header class="row navContainer">
      <div class="col-1">
        <a href="/dashboard">
          <button class="navButtons imgButton" style="background-image: url(https://res.cloudinary.com/myadventureteam/image/upload/v1632164336/ryjaor3ui85sf5f6s0fx.jpg);"></button>
        </a>
      </div>
      <nav class="col-2 row navContainer">
          <div class="col">
            <a href="/signup">
              <button type="submit" class="signinBut">SIGN IN</button></div>
            </a>
          <div class="col">
      </nav>    
    </header>
    <main>
    {{{ body }}}
    </main>
{{/if}}


</html>