<section class="col-3">

</section>

<section class="col-7">
  <section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-url">Link</label>
        <input id="post-url" name="post-url" />
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>

  {{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul class="listStyle">
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </article>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  </section>
  {{!-- Ad --}}
  <section class="col-2" style="background-color: aqua;">
    {{!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7599803532854496"
     crossorigin="anonymous"></script>
    <!-- banners -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7599803532854496"
        data-ad-slot="7847563915"
        data-ad-format="auto"
        data-full-width-responsive="true"
        data-adtest="on";></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> --}}
  </section>

<script src="/javascript/add-post.js"></script>