<body>
    <section class="search-result-container">
        <div class="page-name">Search Results</div>
        <ul class="post-list listStyle">
            {{#each users as |user|}}
                <li>
                    {{> user-info user }}
                </li>
            {{/each}}
        </ul>
    </section>

</body>