<body>
    <section class="search-result-container">
        <div class="page-name">Search Results</div>
        <ul class="post-list listStyle">
            {{#each posts as |post|}}
                <li>
                    {{> post-info post }}
                </li>
            {{/each}}
        </ul>
    </section>
</body>


