<body>
    <section class="searchHandleResultContainer">
        <div class="searchHandlePageName">Search Results</div>
        <ul class="searchHandlelistStyle">
            {{#each posts as |post|}}
                <li>
                    {{> post-info post }}
                </li>
            {{/each}}
        </ul>
    </section>
</body>


