<body>
    <section class="searchHandleResultContainer">
        <div class="searchHandlePageName">Search Results</div>
        <ul class="searchHandlelistStyle">
            {{#each users as |user|}}
                <li>
                    {{> user-info user }}
                </li>
            {{/each}}
        </ul>
    </section>
</body>