html,body {
	height: 100%;
}
/* body for landing and signup pages */
body.landing-page {
    background-image: url("../img/depositphotos_61708349-stock-photo-collage-happy-people.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
	background-color: #f7f9fb;
	font-size: 14px;
}

/* transparency and box shodow for main card */
.landing-page.card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

/* added padding to main card */
.landing-page .card.fat {
	padding: 30px;
}




/* header title colors and margin */
.landing-page .card .card-title {
	margin-bottom: 30px;
    color: -webkit-linear-gadient(rgba(248, 104, 0, 1),
    rgba(255, 230, 3, 1));
}

/* input box form */
.landing-page .form-control {
	border-width: 2.3px;
}

/* input label width */
.landing-page .form-group label {
	width: 100%;
}

/* login button padding */
.landing-page .btn.btn-block {
	padding: 12px 10px;
}


/* footer */
.landing-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}


/* media queries  */
@media screen and (max-width: 425px) {
	.landing-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.landing-page .card.fat {
		padding: 0;
	}

	.landing-page .card.fat .card-body {
		padding: 15px;
	}
}

/* main container width */
.custom-width {
    max-width: 550px !important;
}

/* header text */
.header-text {
    font-size: 3.8vw;
    font-family: Fugaz none;
    text-align: center;
    background: -webkit-linear-gradient(rgba(248, 104, 0, 1), rgba(255, 230, 3, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fugaz One', sans-serif;
}
/* input box design */
.input-style {
	border-radius: 12px;
    background: lightgray;
	
}

/* paragraph text */
p {
    font-family: 'Roboto';
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
}

/* login button color, width, and border-radius */
.login-button {
background: #F86800;

border-radius: 12px;
max-width: 100px; 
}

.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* margin between form items */
.lower-form {
	margin-bottom: 50px; 
}

/* captcha box height */
captcha verification on signup
.g-verify {
	height: 60px;
}
/* 
.login-button-container:focus {
    background-color: white
}

div:focus {
    background-color:red;
} */