  
  /* start button styling */
  .post-button  {
    border-radius: 30px;
    background-color: #F96701;
    color: #fff;
    border: none;
    padding: 1px 10px;
  }

  .post-button:hover {
    background-color: #6F6F6F;
  }
  /* start comment box styling*/
  .post-comments {
    text-align: center;
  }

  .post-viewContainer{
    border-radius: 25px;
    background-color: #C4C4C4;
    width: 100%;
  }
  
  .post-userImg {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: white;
    background-size:contain;
  }
  
  .post-interPostConatiner {
    background-color: white;
    border-radius: 25px;
    margin: 5px 10.5px;
    border: 1px solid black;
  }
  
  .post-marginRig {
    margin: 0px 10px;
  }

  .post-title {
    width: 100%;
    text-align:left;
    margin-left: 10px;
  }
  
  .post-pad {
    padding: 12px 12px;
  }
  
  .post-post-commentsubmitbut {
    justify-content: right;
  }
  
  .post-aligntextright{
    text-align: right;
    justify-content: flex-end;
  }

  .post-stayBetween {
    width:100%;
  }

  .post-listStyle {
    list-style-type: none;
    padding: 0px;
  }